.block {
    display: none;
}

.block.active {
    display: block;
}

#box {
    width: 300px;
    height: 300px;
    border: 2px solid #000;
    overflow-y: scroll;
}

#btn-scroll {
    display: none;
}

#btn-scroll.active {
    display: block;
}